body{

margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:#1e293b;
padding:40px;
border-radius:10px;
width:420px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.3);

}

.subtitle{

opacity:0.8;
margin-bottom:20px;

}

.input-box{

display:flex;
align-items:center;
gap:10px;

}

input{

flex:1;
padding:10px;
border:none;
border-radius:5px;
font-size:16px;

}

#eye{

cursor:pointer;
font-size:20px;

}

button{

padding:10px 15px;
border:none;
background:#22c55e;
color:white;
border-radius:5px;
cursor:pointer;

}

button:hover{

background:#16a34a;

}

.strength-bar{

height:8px;
background:#444;
margin:20px 0;
border-radius:10px;

}

#strength{

height:8px;
width:0%;
border-radius:10px;

}

.rules p{

font-size:14px;
opacity:0.8;

}

.valid{

color:#22c55e;

}